@model MyCompany.School.HomeworkDemo.Models.Security.ResetPasswordViewModel

    <h3>New Password</h3>
    <form asp-action="ResetPassword" asp-controller="Security" method="post" >
        <div asp-validation-summary="All"></div>
        <input asp-for="Code" type="hidden" />
        <input asp-for="Email" type="text" placeholder="E-mail"/>
        <input asp-for="Password" type="password" placeholder="New Password"/>
        <input asp-for="ConfirmPassword" type="password" placeholder="New Password Confirmed"/>
        <input type="submit" value="New Password"/>
    </form>

