
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>@DateTime.Now</p>
    </div>
    <div>
        <p>@*Bu kısımda teslim edilmemiş ödev sayısını ekrana göndermek için TempData Özelliği kullanılacak*@</p>
    </div>
</body>
</html>
