@model AdminRoleAddModel
@{
    Layout = "_Layout";
}

    <form asp-route-area="AdminAuthorities" asp-controller="Role" asp-action="RoleDelete">
        <div asp-validation-summary="All"></div>
        <div>
            <input type="hidden" asp-for="Role.Id" />
            <label>@Html.DisplayNameFor(a => a.Role.Id)</label>
            <label>@Html.DisplayFor(a => a.Role.Id)</label>
        </div>
        <div>
            <input type="hidden" asp-for="Role.Name" />
            <label>@Html.DisplayNameFor(a => a.Role.Name)</label>
            <label>@Html.DisplayFor(a => a.Role.Name)</label>
            <input type="hidden" asp-for="Role.ConcurrencyStamp" />
        </div>
        <div>
            <input type="submit" value="Delete" />
        </div>
        <div>
            <a asp-route-area="AdminAuthorities" asp-controller="Role" asp-action="RoleList">Back to Role List</a>
        </div>
    </form>

