@model AdminRoleAddModel
@{
    Layout = "_Layout";
}

    <form asp-route-area="AdminAuthorities" asp-controller="Role" >
        <div>
            <label>@Html.DisplayNameFor(a => a.Role.Id)</label>
            <label>@Html.DisplayFor(a => a.Role.Id)</label>
        </div>
        <div>
            <label>@Html.DisplayNameFor(a => a.Role.Name)</label>
            <label>@Html.DisplayFor(a => a.Role.Name)</label>
        </div>
        <div>
            <a asp-action="RoleList">Back to Role List</a>
        </div>
    </form>
