@model AdminRoleAddModel
@{
    Layout = "_Layout";
}

    <form asp-route-area="AdminAuthorities" asp-controller="Role" asp-action="RoleAdd" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Role.Name"></label>
            <input type="text" asp-for="Role.Name" />
        </div>
        <div>
            <input type="submit" value="Add" />
        </div>
    </form>

