@model MyCompany.School.HomeworkDemo.Areas.AdminAuthorities.Models.BranchModels.BranchManagerModel
@{
    Layout = "_Layout";
}

    <form asp-route-area="AdminAuthorities" asp-controller="Branch" asp-action="Details">
        <div>
            <label>@Html.DisplayNameFor(a => a.Branch.Id)</label>
            <label>@Html.DisplayFor(a => a.Branch.Id)</label>
        </div>
        <div>
            <label>@Html.DisplayNameFor(a => a.Branch.BranchName)</label>
            <label>@Html.DisplayFor(a => a.Branch.BranchName)</label>
        </div>
        <div>
            <a asp-route-area="AdminAuthorities" asp-controller="Branch" asp-action="List">Back to Branch List</a>
        </div>
    </form>