@model PersonAddModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h2>Edit Page</h2>
    <form asp-route-area="AdminAuthorities" asp-controller="Person" asp-action="Edit" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <input type="hidden" asp-for="Person.Id"/>
            <label asp-for="Person.Name"></label>
            <input type="text" asp-for="Person.Name" />
        </div>
        <div>
            <label asp-for="Person.Surname"></label>
            <input type="text" asp-for="Person.Surname" />
        </div>
        <div>
            <input type="submit" value="Edit" />
        </div>
    </form>
</body>
</html>
