@model MyCompany.School.HomeworkDemo.Models.Homework.HomeworkManagerModel

    <form asp-controller="Homework" asp-action="Add" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Homework.PersonLessonId"></label>
            <input type="text" asp-for="Homework.PersonLessonId" />
        </div>
        <div>
            <label asp-for="Homework.HomeworkDetails"></label>
            <input type="text" asp-for="Homework.HomeworkDetails" />
        </div>
        <div>
            <label asp-for="Homework.LoadDate"></label>
            <input type="text" asp-for="Homework.LoadDate"/>
        </div>
        <div>
            <input type="submit" value="Add"/>
        </div>
    </form>
